playbook-Phishing_OOTB-Delivery_-_From_Scratch_-_Nader_El-Gohary.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 51000570-2b5c-4ad0-8b86-c42ab3780784
inputs:
- description: The default role to assign the incident to.
  key: Role
  playbookInputQuery: null
  required: false
  value:
    simple: Administrator
- description: |
    Enable the "Search and Delete" capability (can be either "True" or "False").
    In case of a malicious email, the "Search and Delete" sub-playbook will look for other instances of the email and delete them pending analyst approval.
  key: SearchAndDelete
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Enable the "Block Indicators" capability (can be either "True" or "False").
    In case of a malicious email, the "Block Indicators" sub-playbook will block all malicious indicators in the relevant integrations.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether the authenticity of the email should be verified, using SPF,
    DKIM and DMARC.
  key: AuthenticateEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Set to true to assign only user that is currently on shift. Requires
    Cortex XSOAR v5.5 or later.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: |-
    Determines which product and playbook will be used to search and delete the phishing email from users' inboxes.
    Set this to "O365" to use the O365 - Security And Compliance - Search And Delete playbook.
    Set this to "EWS" to use the Search And Delete Emails - EWS playbook.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: false
  value:
    simple: EWS
- description: |-
    The method by which to delete emails using the O365 - Security And Compliance - Search And Delete playbook. Could be "Soft" (recoverable), or "Hard" (unrecoverable). Leave empty to decide manually for each email incident.
    This is only applicable if the SearchAndDeleteIntegration input is set to O365.
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: Soft
- description: Used only when searching and deleting emails in O365. The exchange
    location. Determines from where to search and delete emails searched using O365
    playbooks. Use the value "All" to search all mailboxes, or use ${incident.emailto}
    to search and delete the email only from the recipient's inbox. Note - searching
    all mailboxes may take a significant amount of time. This input is only applicable
    if the SearchAndDeleteIntegration input is set to O365.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: Used only when searching and deleting emails in O365. Whether to include
    mailboxes other than regular user mailboxes in the compliance search. Default
    is "false".
  key: O365AllowNotFoundSearchLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Used only when searching and deleting emails in O365. Comma-separated
    list of mailboxes/distribution groups to exclude when you use the value "All"
    for the O365ExchangeLocation input.
  key: O365ExchangeLocationExeculsion
  playbookInputQuery: null
  required: false
  value: {}
- description: Check Microsoft's headers for BCL/PCL/SCL scores and set the "Severity"
    and "Email Classification" accordingly.
  key: CheckMicrosoftHeaders
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Phishing OOTB-Delivery - From Scratch - Nader El-Gohary
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 851a27cc-3a67-49fb-87df-ba0102aea6d1
      iscommand: false
      name: ""
      version: -1
    taskid: 851a27cc-3a67-49fb-87df-ba0102aea6d1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 920,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3c676b1c-05c1-48f0-8e0e-d6d360605194
      iscommand: false
      name: StartDetectionTimeForTheIncidentSinceItBeingCreatedTillClosed
      type: title
      version: -1
    taskid: 3c676b1c-05c1-48f0-8e0e-d6d360605194
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 920,
          "y": 195
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 15f9b1d7-8376-4337-8db7-1e0252134cfd
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 15f9b1d7-8376-4337-8db7-1e0252134cfd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 340
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d411af99-8550-4ee6-8389-927f456dc49c
      iscommand: false
      name: EngageWithUser
      type: title
      version: -1
    taskid: d411af99-8550-4ee6-8389-927f456dc49c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 275,
          "y": 340
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReporterAddress
      value:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3c2d20af-4a5b-4f27-8057-4f37e5ed83d4
      iscommand: false
      name: Store/Get the reporter Email/User
      script: Set
      type: regular
      version: -1
    taskid: 3c2d20af-4a5b-4f27-8057-4f37e5ed83d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 660
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incidents.labels.Email/from}
          operator: isNotEmpty
      label: "yes"
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc5d30f2-abd1-4c07-8a28-a48f8a387b32
      iscommand: false
      name: IfEmailExistsInIncident
      type: condition
      version: -1
    taskid: cc5d30f2-abd1-4c07-8a28-a48f8a387b32
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 275,
          "y": 485
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ERAddress
      value:
        simple: nadergohary0@gmail.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ae6ccd16-bf3d-4eb9-825f-d354ae0e63a7
      iscommand: false
      name: SetEmailAddress
      script: Set
      type: regular
      version: -1
    taskid: ae6ccd16-bf3d-4eb9-825f-d354ae0e63a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 660
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 494b3e99-5220-43ed-8b53-a3e5471e7ce0
      iscommand: false
      name: Incident Closed
      type: title
      version: -1
    taskid: 494b3e99-5220-43ed-8b53-a3e5471e7ce0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1185
        }
      }
  "9":
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isNotEmpty
          root: inputs.Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          accessor: reporteremailaddress
          root: incident
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 111c812c-3c87-4356-88e0-9e17fa557596
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 111c812c-3c87-4356-88e0-9e17fa557596
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 60,
          "y": 835
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      reporteremailaddress:
        simple: ${ERAddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1f374ab6-54d9-4518-865c-2e444fe97d03
      iscommand: true
      name: SetReportedAddressToIncident
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1f374ab6-54d9-4518-865c-2e444fe97d03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 835
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: Email Body - ${incident.emailbody}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${incident.reporteremailaddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: 7f6b1391-be07-4cf3-8757-023e09d3db82
      iscommand: true
      name: Ack incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 7f6b1391-be07-4cf3-8757-023e09d3db82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1010
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
      - "17"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 2e382ed9-8e78-4ee6-8cb1-1a4eb601e81d
      iscommand: false
      name: Process Email - Generic
      playbookId: process_email_-_generic
      type: playbook
      version: -1
    taskid: 2e382ed9-8e78-4ee6-8cb1-1a4eb601e81d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 485
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 570c59b6-4583-4a98-8ebe-fc243521b133
      iscommand: false
      name: Extract Indicators From File - Generic v2
      playbookId: Extract Indicators From File - Generic v2
      type: playbook
      version: -1
    taskid: 570c59b6-4583-4a98-8ebe-fc243521b133
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 930,
          "y": 660
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 284a7353-2e6f-41e1-82e2-8f6b4896b99b
      iscommand: false
      name: MachineLearning
      type: title
      version: -1
    taskid: 284a7353-2e6f-41e1-82e2-8f6b4896b99b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 500
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Detonate file through active integrations that support file detonation
      id: 8940a3f7-430d-4081-803d-ff80051fa1cd
      iscommand: false
      name: Detonate File - Generic_copy
      playbookId: 671d1b8c-8aa2-4400-8774-2606728ebb5c
      type: playbook
      version: -1
    taskid: 8940a3f7-430d-4081-803d-ff80051fa1cd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 660
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations.
      id: 82ebeaa6-a78e-47df-8522-07e94e93b1df
      iscommand: false
      name: Entity Enrichment - Generic v3
      playbookId: Entity Enrichment - Generic v3
      type: playbook
      version: -1
    taskid: 82ebeaa6-a78e-47df-8522-07e94e93b1df
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 910
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "6_4_yes": 0.89
    },
    "paper": {
      "dimensions": {
        "height": 1200,
        "width": 1905,
        "x": 50,
        "y": 50
      }
    }
  }
