playbook-Palo_Alto_Networks_-_Endpoint_Malware_Investigation_v3.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: 5.0.0
    itemVersion: 1.3.8
    packID: PANWComprehensiveInvestigation
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: "This playbook is triggered by a Palo Alto Networks Cortex threat alert,
  generated by Traps.  The playbook performs host enrichment for the source host with
  Palo Alto Networks Traps, enriches information for the suspicious file with Palo
  Alto Networks Minemeld and AutoFocus, and automatically performs file detonation
  for the extracted file. It then performs IOC enrichment with Minemeld for all related
  IOCs, and calculates the incident severity based on all the findings. In addition
  we detonate the file for the full analysis report. \nThe analyst can perform a manual
  memory dump for the suspected endpoint based on the incident’s severity, and choose
  to isolate the source endpoint with Traps.\nHunting tasks to find more endpoints
  that are infected is performed automatically based on a playbook input, and after
  all infected endpoints are found, remediation for all malicious IOCs is performed,
  including file quarantine, and IP and URLs blocking with Palo Alto Networks FireWall
  components such as Dynamic Address Groups and Custom URL Categories.\nAfter the
  investigation review the incident is automatically closed."
id: Palo Alto Networks - Endpoint Malware Investigation v3
inputs:
- description: |-
    This input determines the threshold severity from which to perform auto-isolation for the infected endpoint.
    Default is High.
    Specify the severity number:
    0 - Unknown
    0.5 - Informational
    1 - Low
    2 - Medium
    3 - High
    4 - Critical
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: This input accepts a comma-separated list of similar incident fields
    keys.
  key: similarIncidentFields
  playbookInputQuery: null
  required: false
  value: {}
- description: This input determines whether similar incidents that are found will
    be linked. Specify Yes/No.
  key: LinkSimilarIncidents
  playbookInputQuery: null
  required: false
  value: {}
- description: File SHA256.
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: sha256
      root: incident
- description: A list of XDR endpoint IDs.
  key: endpoint_id_list
  playbookInputQuery: null
  required: false
  value: {}
- description: This input determines whether Palo Alto Networks Cortex XDR remediation
    will take place. Specify Yes/No
  key: UseXDR
  playbookInputQuery: null
  required: false
  value:
    simple: "Yes"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Specify Dynamic Address Group tag name for IP handling.
  key: DAG
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Custom URL Categories are used.
    Specify Category name for URL handling.
  key: CustomURLCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Custom block rules are used.
    Specify True to use Custom Block Rules.
  key: CustomBlockRule
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used for IP Blockage.
    Specify the EDL name for IP handling.
  key: IPListName
  playbookInputQuery: null
  required: false
  value: {}
- description: This input determines whether Palo Alto Networks Minemeld is used.
    Specify Miner name to update with the malicious indicators.
  key: Miner
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static address groups are used.
    Specify Static address group name for IP handling.
  key: StaticAddressGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether to commit the configuration automatically.
    Yes - Commit automatically.
    No - Commit manually.
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used for URL Blockage.
    Specify the EDL name for URL handling.
  key: URLListName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used:
    * The IP address of the web server on which the files are stored.
    * The web server IP address is configured in the integration instance.
  key: EDLServerIP
  playbookInputQuery: null
  required: false
  value: {}
- description: This input determines whether Palo Alto Networks Traps remediation
    will take place. Specify Yes/No.
  key: Traps
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges would be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).
    If a list is not provided, will use default list provided in the IsIPInRanges
    script (the known IPv4 private address ranges).'
  key: internal_range
  playbookInputQuery: null
  required: false
  value: {}
- description: The organizations internal domain name. This is provided for the script
    IsInternalHostName that checks if the detected host names are internal or external
    if the hosts contain the internal domains suffix. For example demisto.com. If
    there is more than one domain, use the | character to separate values such as
    (demisto.com|test.com)
  key: InternalDomainName
  playbookInputQuery: null
  required: false
  value: {}
- description: This is provided for the script IsInternalHostName that checks if the
    detected host names are internal or external. If the hosts match the organization's
    naming convention. For example the host testpc1 will have the following regex
    \w{6}\d{1}
  key: InternalHostRegex
  playbookInputQuery: null
  required: false
  value: {}
name: Palo Alto Networks - Endpoint Malware Investigation v3
outputs:
- contextPath: IP.Address
  description: IP addresses.
- contextPath: URL.Malicious.Description
  description: For malicious URLs, the reason that the vendor decided that the URL
    is malicious.
- contextPath: URL.Malicious
  description: Malicious URLs.
  type: unknown
- contextPath: File.Malicious.Description
  description: For malicious files, the reason that the vendor decided that the file
    is malicious.
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7013d486-d71b-4117-8551-801797af55ca
      iscommand: false
      name: ""
      version: -1
    taskid: 7013d486-d71b-4117-8551-801797af55ca
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": -120
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6496fddc-17e5-49d0-8dcc-2372d4b75188
      iscommand: false
      name: File Detonation
      type: title
      version: -1
    taskid: 6496fddc-17e5-49d0-8dcc-2372d4b75188
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 760,
          "y": 1020
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3dc7c828-d1d0-436f-815e-77185ec9bb13
      iscommand: false
      name: File Enrichment
      type: title
      version: -1
    taskid: 3dc7c828-d1d0-436f-815e-77185ec9bb13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1020
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a2324c7-c345-436f-89ad-07b03c4af941
      iscommand: false
      name: False Positive
      type: title
      version: -1
    taskid: 2a2324c7-c345-436f-89ad-07b03c4af941
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -330,
          "y": 2015
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "137"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2b0599cd-fbcb-4128-8e88-438c376b2c06
      iscommand: false
      name: Hunting for malicious indicators
      type: title
      version: -1
    taskid: 2b0599cd-fbcb-4128-8e88-438c376b2c06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2080
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "130"
      "yes":
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual review from the analyst.
      id: 5905e6b1-4b54-45b0-8a49-b300a00d1ef5
      iscommand: false
      name: Would you like to perform auto-remediation?
      type: condition
      version: -1
    taskid: 5905e6b1-4b54-45b0-8a49-b300a00d1ef5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3080
        }
      }
  "34":
    continueonerror: true
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      filter_data:
        simple: "False"
      sample_id:
        complex:
          root: inputs.SHA256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns properties, behaviors, and activities observed for a sample.
        Run the command once to get the fields and operating systems under HTTP, Coverage,
        Behavior, Registry, Files, Processes, Connections, and DNS.
      id: 33cdc473-e0a8-4695-8746-8f4080540d55
      iscommand: true
      name: AutoFocus - Retrieve Sample Analysis
      script: '|||autofocus-sample-analysis'
      type: regular
      version: -1
    taskid: 33cdc473-e0a8-4695-8746-8f4080540d55
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1350
        }
      }
  "45":
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 497f868b-82fa-42ab-870f-0af527f51cc1
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 497f868b-82fa-42ab-870f-0af527f51cc1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4180
        }
      }
  "48":
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Close as False positive:
      - "10"
      continue:
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual task for the analyst - continue with the investigation or
        close as a false positive.
      id: 01da8370-00b7-460f-8029-ff73a01405f6
      iscommand: false
      name: Continue with the investigation or Close as False Positive?
      type: condition
      version: -1
    taskid: 01da8370-00b7-460f-8029-ff73a01405f6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1700
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: File
      Interval:
        simple: "1"
      Timeout:
        simple: "15"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Detonate one or more files using the Wildfire integration. This playbook
        returns relevant reports to the War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PDF, DMG, PKG, RAR, 7Z
      id: 5cb28c07-2b83-489c-83c5-97d05e210e8d
      iscommand: false
      name: WildFire - Detonate file
      playbookId: WildFire - Detonate file
      type: playbook
      version: -1
    taskid: 5cb28c07-2b83-489c-83c5-97d05e210e8d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 760,
          "y": 1350
        }
      }
  "66":
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual task for the analyst - Perform manual Malware Analysis and
        Forensics.
      id: 0dca4b4c-8f48-4aa5-8ebf-d95bfac2e247
      iscommand: false
      name: Perform manual Malware Analysis and Forensics
      type: regular
      version: -1
    taskid: 0dca4b4c-8f48-4aa5-8ebf-d95bfac2e247
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1905
        }
      }
  "77":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Autofocus
                  - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: AutoFocus V2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "121"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if AutoFocus integration is enabled.
      id: 28fe89a9-d801-4f0c-82e7-89753f7a2efa
      iscommand: false
      name: Is AutoFocus Integration enabled?
      type: condition
      version: -1
    taskid: 28fe89a9-d801-4f0c-82e7-89753f7a2efa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1180
        }
      }
  "91":
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.endpoint_id_list
      hostname:
        complex:
          accessor: Hostname
          root: Endpoint
      ip_list:
        complex:
          accessor: Address
          root: IP
    separatecontext: false
    skipunavailable: true
    task:
      brand: Cortex XDR - IR
      description: Gets a list of endpoints, according to the passed filters. Filtering
        by multiple fields is concatenated using AND condition (OR is not supported).
        Maximum result set size is 100. Offset is the zero-based number of endpoint
        from the start of the result set (start by counting from 0).
      id: af48ec70-6fbf-4957-8a37-ee401650c0eb
      iscommand: true
      name: Cortex XDR - get endpoints
      script: Cortex XDR - IR|||xdr-get-endpoints
      type: regular
      version: -1
    taskid: af48ec70-6fbf-4957-8a37-ee401650c0eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -610,
          "y": 1350
        }
      }
  "98":
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - Retrieve malicious file from the infected endpoint.
      id: 016c920d-12d4-4336-833b-2bb3988d904f
      iscommand: false
      name: Manual - Retrieve malicious file
      type: regular
      version: -1
    taskid: 016c920d-12d4-4336-833b-2bb3988d904f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": 1180
        }
      }
  "99":
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "100"
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 964259e7-58cd-415c-871b-94b561393d43
      iscommand: false
      name: Enrich Internal Indicators found
      type: title
      version: -1
    taskid: 964259e7-58cd-415c-871b-94b561393d43
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2430
        }
      }
  "100":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: DetectedUsers
                root: PANWHunting
          operator: isExists
      label: "yes"
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Minemeld
      description: Check if there are more IOCs to enrich?
      id: f3eafeeb-d5f6-405e-8b03-cd2e30eda085
      iscommand: false
      name: Are there users to enrich?
      type: condition
      version: -1
    taskid: f3eafeeb-d5f6-405e-8b03-cd2e30eda085
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2570
        }
      }
  "101":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: DetectedInternalIPs
                root: PANWHunting
          operator: isExists
      label: "yes"
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Minemeld
      description: Check if there are more IOCs to enrich?
      id: 53d5e13c-e24b-4015-8251-24ac1ce9b5fa
      iscommand: false
      name: Are there internal IP addresses to enrich?
      type: condition
      version: -1
    taskid: 53d5e13c-e24b-4015-8251-24ac1ce9b5fa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -140,
          "y": 2740
        }
      }
  "104":
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      ip_list:
        complex:
          accessor: DetectedExternalIPs
          root: PANWHunting
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Gets a list of endpoints, according to the passed filters. Filtering
        by multiple fields is concatenated using the AND condition (OR is not supported).
        Maximum result set size is 100. Offset is the zero-based number of endpoint
        from the start of the result set (start by counting from 0).
      id: 0d8a0cb0-1f6e-4167-8140-3f92282d115c
      iscommand: true
      name: Cortex XDR - get endpoints
      script: Cortex XDR - IR|||xdr-get-endpoints
      type: regular
      version: -1
    taskid: 0d8a0cb0-1f6e-4167-8140-3f92282d115c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -130,
          "y": 2910
        }
      }
  "106":
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: DetectedUsers
          root: PANWHunting
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      id: 349d4f21-d645-47ff-827a-0c24d8fbde55
      iscommand: true
      name: Active Directory - get users
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: 349d4f21-d645-47ff-827a-0c24d8fbde55
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2910
        }
      }
  "110":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the Active Directory integration is enabled.
      id: 3c52c1be-25ea-4a0c-8ad1-922bfe92459a
      iscommand: false
      name: Is Active Directory integration enabled?
      type: condition
      version: -1
    taskid: 3c52c1be-25ea-4a0c-8ad1-922bfe92459a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 2740
        }
      }
  "114":
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "115"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9107a1ba-597a-4e60-8ecd-3d7106f2273c
      iscommand: false
      name: Get similar incidents
      type: title
      version: -1
    taskid: 9107a1ba-597a-4e60-8ecd-3d7106f2273c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 30
        }
      }
  "115":
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    scriptarguments:
      similarIncidentFields:
        complex:
          root: inputs.similarIncidentFields
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Finds similar incidents by common incident keys, labels, custom fields or context keys.
        It's highly recommended to use incident keys if possible (e.g., "type" for the same incident type).
        For best performance, it's recommended to avoid using context keys whenever possible (for example, if the value also appears in a label key, use label).
      id: 6a6aa229-361f-4149-87d3-29545422ef03
      iscommand: false
      name: Find similar incidents
      script: FindSimilarIncidents
      type: regular
      version: -1
    taskid: 6a6aa229-361f-4149-87d3-29545422ef03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 180
        }
      }
  "116":
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
      - "5"
      - "6"
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b422589-1147-4e86-8cbc-f5a219191674
      iscommand: false
      name: Enrichment
      type: title
      version: -1
    taskid: 0b422589-1147-4e86-8cbc-f5a219191674
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 880
        }
      }
  "118":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.LinkSimilarIncidents
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Demisto REST API
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "116"
      "yes":
      - "138"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the playbook link similar incidents?
      id: a33f2cc2-37bd-47e8-8892-3bc024a039c4
      iscommand: false
      name: Link similar incidents?
      type: condition
      version: -1
    taskid: a33f2cc2-37bd-47e8-8892-3bc024a039c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 270,
          "y": 540
        }
      }
  "120":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: isSimilarIncidentFound
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "116"
      "yes":
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were similar incidents found?
      id: 06925b80-6977-4120-8302-766939e2aac8
      iscommand: false
      name: Similar incidents found?
      type: condition
      version: -1
    taskid: 06925b80-6977-4120-8302-766939e2aac8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
  "121":
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 102f65db-0a71-4bc3-86a4-7568c5b161f5
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: 102f65db-0a71-4bc3-86a4-7568c5b161f5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1520
        }
      }
  "122":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: DetectedInternalHosts
                root: PANWHunting
          operator: isExists
      label: "yes"
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Minemeld
      description: Check if there are more IOCs to enrich?
      id: a2e84de2-a8a3-4558-813d-9c8de91cf531
      iscommand: false
      name: Are there hosts to enrich?
      type: condition
      version: -1
    taskid: a2e84de2-a8a3-4558-813d-9c8de91cf531
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": 2740
        }
      }
  "123":
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          accessor: DetectedInternalHosts
          root: PANWHunting
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Gets a list of endpoints, according to the passed filters. Filtering
        by multiple fields is concatenated using AND condition (OR is not supported).
        Maximum result set size is 100. Offset is the zero-based number of endpoint
        from the start of the result set (start by counting from 0).
      id: 2158d560-4d31-4353-8fdc-ba783602bfec
      iscommand: true
      name: Cortex XDR - get endpoints
      script: Cortex XDR - IR|||xdr-get-endpoints
      type: regular
      version: -1
    taskid: 2158d560-4d31-4353-8fdc-ba783602bfec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 2910
        }
      }
  "125":
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: username
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      id: fed6a1e4-ccd8-40c7-8449-066cea33d265
      iscommand: true
      name: Active Directory - get users
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: fed6a1e4-ccd8-40c7-8449-066cea33d265
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1510,
          "y": 1350
        }
      }
  "126":
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cec707ab-b3b9-4c45-8025-0ebe2bb14c03
      iscommand: false
      name: User
      type: title
      version: -1
    taskid: cec707ab-b3b9-4c45-8025-0ebe2bb14c03
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 1020
        }
      }
  "127":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex XDR - IR
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "121"
      "yes":
      - "91"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the Cortex XDR integration is enabled.
      id: d61af9a6-50e2-4021-855d-89cb4edb30a8
      iscommand: false
      name: Is Cortex XDR integration enabled?
      type: condition
      version: -1
    taskid: d61af9a6-50e2-4021-855d-89cb4edb30a8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -420,
          "y": 1180
        }
      }
  "128":
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4cd717da-cf67-41f5-895e-54e219346ead
      iscommand: false
      name: Endpoint
      type: title
      version: -1
    taskid: 4cd717da-cf67-41f5-895e-54e219346ead
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -420,
          "y": 1020
        }
      }
  "129":
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      CustomBlockRule:
        complex:
          root: inputs.CustomBlockRule
      CustomURLCategory:
        complex:
          root: inputs.CustomURLCategory
      DAG:
        complex:
          root: inputs.DAG
      EDLServerIP:
        complex:
          root: inputs.EDLServerIP
      IP:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Malicious
              operator: isExists
          root: IP
          transformers:
          - operator: uniq
      IPListName:
        complex:
          root: inputs.IPListName
      Miner:
        complex:
          root: inputs.Miner
      SHA256:
        complex:
          accessor: SHA256
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      StaticAddressGroup:
        complex:
          root: inputs.StaticAddressGroup
      URL:
        complex:
          accessor: Data
          filters:
          - - left:
                iscontext: true
                value:
                  simple: URL.Malicious
              operator: isExists
          root: URL
          transformers:
          - operator: uniq
      URLListName:
        complex:
          root: inputs.URLListName
      UseXDR:
        complex:
          root: inputs.UseXDR
      xdr_endpoint_id:
        complex:
          accessor: Endpoint.endpoint_id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Endpoint.endpoint_id
              operator: isExists
          root: PaloAltoNetworksXDR
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This Playbook performs malicious IOC remediation using Palo Alto
        Networks integrations.
      id: f24bb9f1-becc-4eb0-8683-90540bdaca0e
      iscommand: false
      name: Palo Alto Networks - Malware Remediation
      playbookId: Palo Alto Networks - Malware Remediation
      type: playbook
      version: -1
    taskid: f24bb9f1-becc-4eb0-8683-90540bdaca0e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 210,
          "y": 3250
        }
      }
  "130":
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Perform manual remediation.
      id: 26c8b937-1133-4429-8b9d-44fa7e2bd7eb
      iscommand: false
      name: Manual remediation
      type: regular
      version: -1
    taskid: 26c8b937-1133-4429-8b9d-44fa7e2bd7eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": 3250
        }
      }
  "131":
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual review by the analyst.
      id: 5d751bfa-0e35-467d-8f90-9ca639edeec8
      iscommand: false
      name: Manual review by the analyst
      type: regular
      version: -1
    taskid: 5d751bfa-0e35-467d-8f90-9ca639edeec8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3420
        }
      }
  "132":
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        A script to generate the investigation summary report in an automated way.
        Can be used in post-processing flow as well.
      id: 396d06f7-e8b1-4211-8ef7-20ddb5f770d3
      iscommand: false
      name: Generate investigation summary report
      script: GenerateInvestigationSummaryReport
      type: regular
      version: -1
    taskid: 396d06f7-e8b1-4211-8ef7-20ddb5f770d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3600
        }
      }
  "133":
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - close investigation in the source product.
      id: 76434a3b-c040-4bc8-8b9a-f431ee46edaa
      iscommand: false
      name: Manual - close investigation in the source product
      type: regular
      version: -1
    taskid: 76434a3b-c040-4bc8-8b9a-f431ee46edaa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3790
        }
      }
  "134":
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the investigation.
      id: 5b05bf48-d9f3-47a7-8841-c94bd192a085
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5b05bf48-d9f3-47a7-8841-c94bd192a085
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3980
        }
      }
  "135":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex XDR - IR
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "101"
      - "122"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the Cortex XDR integration is enabled.
      id: 5ac28cd7-e855-4bce-86c4-f082bb128cc4
      iscommand: false
      name: Is Cortex XDR integration enabled?
      type: condition
      version: -1
    taskid: 5ac28cd7-e855-4bce-86c4-f082bb128cc4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 160,
          "y": 2570
        }
      }
  "136":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "121"
      "yes":
      - "125"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the Active Directory integration is enabled.
      id: 0abae271-112b-49e7-8e51-1b4d5c02da8e
      iscommand: false
      name: Is Active Directory integration enabled?
      type: condition
      version: -1
    taskid: 0abae271-112b-49e7-8e51-1b4d5c02da8e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 1180
        }
      }
  "137":
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddresses:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Malicious
              operator: isExists
          - - left:
                iscontext: true
                value:
                  simple: IP.Adderss
              operator: IsNotInCidrRanges
              right:
                value:
                  simple: inputs.InternalRange
          root: IP
          transformers:
          - operator: uniq
      InternalDomainName:
        complex:
          root: inputs.InternalDomainName
      InternalHostRegex:
        complex:
          root: inputs.InternalHostRegex
      InternalRange:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: IsInCidrRanges
              right:
                value:
                  simple: inputs.internal_range
          root: IP
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      SHA1:
        complex:
          accessor: SHA1
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      URLDomain:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Domain.Name
              operator: isExists
          root: Domain
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: URL.Data
            operator: append
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This is a multipurpose playbook used for hunting and threat detection.
        The playbook receives inputs based on hashes, IP addresses, or domain names
        provided manually or from outputs by other playbooks. \nWith the received
        indicators, the playbook leverages data received by PANW products including,
        Cortex Data Lake, Autofocus and Pan-OS to search for IP addresses, host names
        and users related to the provided indicators.\nThe output provided by the
        playbook facilitates pivoting searches for possibly affected IP addresses
        or users."
      id: 7d4253ff-d5c4-4b1e-855b-0f7f49b1d2c1
      iscommand: false
      name: Palo Alto Networks - Hunting And Threat Detection
      playbookId: Palo Alto Networks - Hunting And Threat Detection
      type: playbook
      version: -1
    taskid: 7d4253ff-d5c4-4b1e-855b-0f7f49b1d2c1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2240
        }
      }
  "138":
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
      linkedIncidentIDs:
        complex:
          accessor: rawId
          root: similarIncident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: faeb29c8-7e29-420d-82b1-30589f4c3d33
      iscommand: true
      name: Link similar incidents
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: faeb29c8-7e29-420d-82b1-30589f4c3d33
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 710
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "100_20_#default#": 0.16,
      "101_20_#default#": 0.17,
      "110_20_#default#": 0.45,
      "118_116_#default#": 0.43,
      "120_116_#default#": 0.58,
      "120_118_yes": 0.58,
      "122_123_yes": 0.39,
      "127_121_#default#": 0.11,
      "48_10_Close as False positive": 0.59,
      "77_121_#default#": 0.36,
      "77_34_yes": 0.57
    },
    "paper": {
      "dimensions": {
        "height": 4365,
        "width": 2500,
        "x": -610,
        "y": -120
      }
    }
  }
